/* Crystal Shop Specific Styles */
body {
    background: url('images/shop.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #2b2b2b;
    padding: 15px;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.hero-section {
    text-align: center;

    padding: 100px 20px;
    background-color: rgba(0, 0, 0, 0.04);
}

.hero-section h1,
.hero-section p {
    color: #000000;
    font-family: 'Georgia', serif;
}

.search-filters-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #1e1e1e0a;
}

.search-bar input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.filters {
    display: flex;
    align-items: center;
}

.filters label,
.filters select,
.filters input,
.filters span {
    color: #000000;
    margin-right: 10px;
}


.product-catalogue {
    padding: 50px;
    background-color: rgba(137, 43, 43, 0.04);
    font-family: 'Georgia', serif;
    color: #000000;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #ffffff;
    font-family: 'Georgia', serif;

}

.product-item {
    background-color: #333333;

    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
}

.add-to-cart,
.add-to-wishlist {
    background-color: #8c76ca;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover,
.add-to-wishlist:hover {
    background-color: #ecc5f4;
}

.cart-checkout-section {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.reviews-section,
.wishlist-section {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.453);
    text-align: center;
}

footer {
    padding: 20px;
    background-color: #2b2b2b;
    text-align: center;
}

footer p,
.social-links a {
    color: #ffffff;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
}